"*":
  "autoupdate-packages":
    handling: "Update automatically and silently"
    lastUpdateTimestamp: 1530081067562
  core:
    disabledPackages: [
      "atom-jade"
      "parinfer"
      "tool-bar"
      "set-syntax"
      "proto-repl"
      "lisp-paredit"
      "proto-repl-charts"
      "ink"
      "proton-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
  "easy-motion-redux":
    replaceCharacters: "abcdefghijklmnopqrstuvwxyz"
  editor:
    fontFamily: "Menlo"
    softWrap: true
  "exception-reporting":
    userId: "badfe2b2-23b5-4d9d-8fa6-0d3e0ab0c9bc"
  "lisp-paredit": {}
  proton:
    core:
      alwaysShowWelcomeScreen: true
      inputProvider: "vim-mode-plus"
      leaderKey: "space"
      modeKey: ","
      "post-init-timeout": 3000
      quickOpenProvider: "normal"
      relativeLineNumbers: false
      selectedLayers: [
        "core"
        "tools/git"
        "tools/linter"
      ]
      showTabBar: true
      whichKeyDelay: 0.4
      whichKeyDelayOnInit: false
      whichKeyDisabled: false
      wipeUserConfigs: true
  "theme-switch":
    profiles: [
      "nucleus-dark-ui atom-dark-fusion-syntax"
      "atom-material-ui atom-material-syntax"
      "atom-dark-ui atom-dark-syntax"
      "atom-light-ui atom-light-syntax"
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
